.validation-error {
    color: red;
}

.track-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.submitButtonWithLoadingIcon {
    display: flex;
    height: 40px;
}

.form-input {
    display: flex;
}

.form-input>label>input {
    width: 100%;
}
