.album-index-container {
  padding: 20px;
  box-sizing: border-box;
  min-height: 84vh;
}

.album-index-cards-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.album-index {
  display: flex;
  justify-content: center;
}

.album-details-artist {
  font-weight: 600;
}
