.track-player {
    overflow: hidden;
    position: sticky;
    bottom: 0px;
    background-color: var(--purple);
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
