/* .track-player {
    overflow: hidden;
    position: sticky;
    bottom: 0px;
    height: 120px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
} */

.track-player {
    overflow: hidden;
    position: sticky;
    bottom: 0px;
    /* background-color: var(--purple); */
    height: 120px;
    width: 100%;
    box-sizing: border-box;
}
