#album-details-body {
  background-image: linear-gradient(to bottom, rgb(43, 181, 43) 30%, rgba(255, 0, 0, 0));
  background-size: 100% 40vh;
  background-repeat: no-repeat;
  min-height: 84vh;
}

.album-details-header-image-div {
  height: 26vh;
  margin: 5vh 0 0 3vh;
}

.album-details-header-image-div img {
  height: 100%;
  border-radius: 10px;
}

.album-details-album-word {
  font-size: small;
}

.album-details-album-name {
  font-size: xxx-large;
  font-weight: 600;
}

.album-details-artist-year-length-div {
  display: flex;
  align-items: center;
  font-size: small;
}

.album-details-artist-year-length {
  font-size: medium;
}

.album-details-header-div {
  display: flex;
  align-items: flex-end;
}

.album-details-header-details-div {
  margin: 0 0 0 10px;
  width: 100%;
}

.album-details-header-playicon {
  width: 50px;
  height: 50px;
  margin: 0 0 0 5px;
}

.album-details-header-playicon:hover {
  cursor: pointer;
}

.album-details-update {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.album-details-update:hover {
  cursor: pointer;
}

.album-details-delete {
  width: 40px;
  height: 40px;
}

.album-details-delete:hover {
  cursor: pointer;
}

.play-update-delete-div {
  display: flex;
  align-items: center;
  margin: 1vh 0 0 3vh;
}

.album-details-artist-navlink {
  text-decoration: none;
  transition: all 500ms ease;
  color: white;
}

.album-details-artist-navlink:hover {
  color: white;
  text-decoration: underline;
}
