body {
    background-color: #1a1b1c;
    color: white;
}

.rhap_container {
    background-color: black;
    color: white;
}

.track-card-link {
    text-decoration: none;
    color: white;
}

.track-card-link>p:hover {
    text-decoration: underline;
    color: white;
}

.track-card-link>h2:hover {
    text-decoration: underline;
    color: white;
}

.track-card-container {
    display: flex;
    width: 100%;
    height: 20%;
    max-height: 20%;
    /* border-bottom: white 1px solid; */
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    transition: background-color .25s ease;
    border-radius: 5px;
}
.track-card-container:hover {
    background-color: #2b2d2e;
}

.preview-image {
    height: 70px;
    padding: 0 8px;
}

.track-card-header-container {
    display: flex;
}

.id-image-title-artist-div {
    display: flex;
    align-items: center;
    width: 50%;
}

.title-artist-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    justify-content: center;
}

.track-title {
    font-weight: 600;
    font-size: larger;
}

.track-artist {
    font-weight: 100;
    font-size: small;
    color: gray;
}

.track-id-div {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 5%;
}

.track-card-container:hover .track-id {
    display: none;
}
.track-play-button {
    display: none;
}
.track-play-button:hover {
    cursor: pointer;
}
.track-card-container:hover .track-play-button {
    display: block;
}

.track-hover-play-icon {
    height: 50px;
}

.track-album {
    font-size: small;
    color: gray;
    text-align: center;
    width: 300px;
}

.likes-div {
    display: flex;
    align-items: center;
}
.like-heart-icon:hover {
    cursor: pointer;
}

.isPlaying {
    color: rgb(43, 181, 43);
}