.splash-page-container {
    padding: 20px;
    box-sizing: border-box;
    min-height: 84vh;
}

.splash-dev-name-icon-div {
    display:flex;
    align-items: baseline;
}

.splash-icon {
    height: 100%;
    color: gray;
    margin: 0 0 0 5px;
}

.splash-welcome-div {
    margin: 0 0 10vh 0;
}